<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">


    <title>Servicios</title>


    <!--Aplicando estilos de tipo interno-->
    <style>
        h1 {
            color: blueviolet !important;
        }
    </style>

</head>

<body class="container mt-4" style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">



    <!--Barra de navehación-->
    <!--Barra de navehación-->
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">CARLOS JOSUE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ItemsMenues" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="ItemsMenues">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html"> Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.certus.edu.pe/" target="blank">Certus</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Alumnos
                          </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="./alumnos.html">Alumnos</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item disabled" href="#">Otra action</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="https://www.google.com" target="blank">Google</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>


    <!--Seccion 1 Home-->
    <div class=" container mt-4 modBloque">
        <h3>Hola, Alumno</h3>

    </div>


    <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js"></script>
    <script src="../resources/Bootstrap/bootstrap.bundle.min.js"></script>

</body>


</html>