<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">


    <title>Servicios</title>


    <!--Aplicando estilos de tipo interno-->
    <style>
        h1 {
            color: blueviolet !important;
        }
    </style>

</head>

<body class="container mt-4" style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">



    <!--Barra de navehación-->
    <!--Barra de navehación-->
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Alumnos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ItemsMenues" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="ItemsMenues">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html"> Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.certus.edu.pe/" target="blank">Certus</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Alumnos
                          </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Alumnos</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item disabled" href="#">Otra action</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="https://www.google.com" target="blank">Google</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>


    <!--Seccion 1 Home-->
    <div class="mt-4 modBloque">

        <table class="table table-sm">
            <caption>Lista de Alumnos de Certus</caption>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">DNI</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope='row'>1</th>
                    <td>74216275</td>
                    <td>TELLO/DE LA CRUZ, ANDERSON ANTONIO</td>
                    <td><a href='./74216275.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>2</th>
                    <td>74866215</td>
                    <td>GARCIA/MATA, WILLIAMS ANDERSON</td>
                    <td><a href='./74866215.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>3</th>
                    <td>72089907</td>
                    <td>LEON/YSLA, DIEGO MARCELO</td>
                    <td><a href='./72089907.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>4</th>
                    <td>76410257</td>
                    <td>ASPIROS/MANRIQUE, CRISTOFER WILLIAMS</td>
                    <td><a href='./76410257.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>5</th>
                    <td>73188107</td>
                    <td>PORTILLA/BRISSOLESE, PIERO ANGELLO</td>
                    <td><a href='./73188107.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>6</th>
                    <td>76564920</td>
                    <td>CORDOVA/SULLUCHUCO, ANTHONY ELIAS</td>
                    <td><a href='./76564920.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>7</th>
                    <td>72753299</td>
                    <td>GUERRERO/PALOMINO, HENRY WILLIAM´S</td>
                    <td><a href='./72753299.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>8</th>
                    <td>71218638</td>
                    <td>FIGUEROA/SANCHEZ, LUIS MIGUEL</td>
                    <td><a href='./71218638.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>9</th>
                    <td>74238813</td>
                    <td>GRANDEZ/MANSILLA, JEAN PIERRE</td>
                    <td><a href='./74238813.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>10</th>
                    <td>73878301</td>
                    <td>PACHECO/FLORES, JEAN PAUL DAVID</td>
                    <td><a href='./73878301.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>11</th>
                    <td>60941623</td>
                    <td>LLACCHO/SILVANO, SAMUEL ANGELLO DAVID</td>
                    <td><a href='./60941623.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>12</th>
                    <td>75085728</td>
                    <td>FLORES/DAMIANO, ANGEL GABRIEL</td>
                    <td><a href='./75085728.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>13</th>
                    <td>74691036</td>
                    <td>CHOCHOCA/IPANAQUE, LUCAS BRAHIAN</td>
                    <td><a href='./74691036.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>14</th>
                    <td>73463594</td>
                    <td>GASPAR/LAURA, FRANK</td>
                    <td><a href='./73463594.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>15</th>
                    <td>76168572</td>
                    <td>QUISPE/NINA, CARLOS JOSUE</td>
                    <td><a href='./76168572.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>16</th>
                    <td>72620085</td>
                    <td>LOPEZ/HUAMAN, REYZON GIANFRANCO</td>
                    <td><a href='./72620085.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>17</th>
                    <td>70919790</td>
                    <td>POZO/LUCANO, SEBASTIAN ANDREI</td>
                    <td><a href='./70919790.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>18</th>
                    <td>71414032</td>
                    <td>AÑORGA/PAREDES, JEAN FRAN</td>
                    <td><a href='./71414032.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>19</th>
                    <td>74020480</td>
                    <td>MAYAUTE/PEÑA VASQUEZ, LEONARDO LUIS</td>
                    <td><a href='./74020480.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>20</th>
                    <td>75592040</td>
                    <td>PALOMINO/SONCCO, YONY RAFAEL</td>
                    <td><a href='./75592040.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>21</th>
                    <td>72846520</td>
                    <td>PANEZ/HUAMBACHANO, JOSEPH WILLIAMS</td>
                    <td><a href='./72846520.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>22</th>
                    <td>75093982</td>
                    <td>TINOCCO/ESPINOZA, ANDRE GUSTAVO</td>
                    <td><a href='./75093982.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>23</th>
                    <td>75015313</td>
                    <td>SOLIS/CARRANZA, LUIS ARMANDO</td>
                    <td><a href='./75015313.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>24</th>
                    <td>61281658</td>
                    <td>FLORES/HERNANDEZ, ESTEFANO</td>
                    <td><a href='./61281658.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>25</th>
                    <td>32736269</td>
                    <td>VILLENA/DELGADO, VICTOR CARLOS</td>
                    <td><a href='./32736269.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>
                <tr>
                    <th scope='row'>26</th>
                    <td>74080033</td>
                    <td>MAYTA/VILCA, MANUEL ALBERTO</td>
                    <td><a href='./74080033.html' class='btn btn-sm btn-success'> ver</a></td>
                </tr>

            </tbody>
        </table>

        <br>
        <br>

    </div>


    <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js"></script>
    <script src="../resources/Bootstrap/bootstrap.bundle.min.js"></script>

</body>


</html>