/*Esto es un comentario*/

.modBloque {
    /*border: 3px;
    border-color: black;
    border-radius: 15px;
    border-style: solid;*/
}

.cardShadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.h5Padding {
    padding-left: 2%;
}

.mrTexto {
    margin: 2%
}